name: brew test-bot
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-bot:
    strategy:
      matrix:
        os:
          # auto-multiple-choice: Re-enable Linux as soon as the qt@5 formula
          # gets a bootle: https://github.com/Homebrew/linuxbrew-core/pull/23174
          #
          # amc-pango: installation fails on linux with the error:
          #   /usr/bin/ld: cannot find -lintl
          #   collect2: error: ld returned 1 exit status
          # Remember to re-enable it one day.
          #
          # - ubuntu-latest
          
          # https://github.com/actions/virtual-environments/#available-environments
          - macos-11-mael
          - macos-10.15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems

      - run: brew test-bot --only-cleanup-before

      - run: brew test-bot --only-setup

      - run: brew test-bot --only-tap-syntax

      - run: brew test-bot --only-formulae
        if: github.event_name == 'pull_request'

      - name: Upload bottles as artifact
        if: always() && github.event_name == 'pull_request'
        uses: actions/upload-artifact@main
        with:
          name: bottles
          path: "*.bottle.*"

      # Since I use a self-hosted runner, I need to make sure to leave
      # no trace so that "brew doctor" does not break on the next build.
      - name: Clean up Homebrew
        if: always()
        run: git -C /usr/local/Homebrew clean -d -f
